<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Splitmate</title>
  <link rel="stylesheet" href="/css/login.css">
  <script src="/js/login.js" defer></script>
  <link rel="icon" href="/images/favicon.png" type="image/x-icon">
</head>
<body>
  <div class="container">
    <!-- 左邊的標題和副標題區域 -->
    <div class="text-container">
      <h1><img src="/images/favicon.png">Splitmate</h1>
      <h2>享受與親友歡聚的時光 <br> <span class="highlight">我們來處理費用！</span></h2>
      <p class="subtitle">協助您輕鬆管理與親友的分攤費用與結餘</p>
      <button class="signup-button">立即登入使用</button>
    </div>

    <!-- 右邊的圖片區域 -->
    <div class="image-container">
      <img id="split" src="/images/index.png" alt="Splitmate Graphic">
    </div>
  </div>

  <div class="overlay hide" id="overlay"></div>

  <div class="login-container hide">
    <div class="toggle">
      <button id="sign-in" class="toggle-button active">登入</button>
      <button id="sign-up" class="toggle-button">註冊</button>
    </div>
    <form id="sign-in-form">
      <input type="email" id="sign-in-email" placeholder="電子郵件" required>
      <input type="password" id="sign-in-password" placeholder="密碼" required>
      <div id="sign-in-response" class="sign-in-font hide">電子郵件或密碼錯誤</div>
      <button type="submit" id="sign-in-button">登入</button>
    </form>
    <form id="sign-up-form">
      <input type="text" id="sign-up-name" placeholder="姓名" required>
      <input type="email" id="sign-up-email" placeholder="電子郵件" required>
      <input type="password" id="sign-up-password" placeholder="密碼" required>
      <div id="sign-up-response" class="sign-up-font hide">Email已經註冊帳戶</div>
      <button type="submit" id="sign-up-button">註冊</button>
    </form>
  </div>
</body>
</html>