<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Splitmate</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/pay.css">
    <script src="/js/header.js"></script>
    <script src="/js/pay.js" defer></script>
    <link rel="icon" href="/images/favicon.png" type="image/x-icon">
</head>
<body>
  <header class="header">
    <div class="logo">
      <img src="/images/favicon-white.png" alt="Splitmate Logo">
    </div>
    <div class="page-title">誰付錢</div>
    <div class="user-info">
      <img src="/images/profile-icon.png" alt="Profile Picture" class="profile-pic" id="profile-pic">
      <div class="dropdown-menu" id="dropdown-menu">
        <div class="menu-item" data-action="profile">個人檔案</div>
        <div class="menu-item" data-action="groups">我的群組</div>
        <div class="menu-item" data-action="payments">收款帳戶</div>
        <div class="menu-item" data-action="logout">登出</div>
      </div>
    </div>
  </header>
  <main class="main-content">
    <section class="pay-section">
      <div class="pay-header">
        <div class="remaining-info">剩餘 NT$0 </div>
      </div>
      <div class="pay-list">
        <div class="pay-item">
          <div>
            <input type="checkbox" id="payer1" checked>
            <label for="payer1">你</label>
          </div>
          <div class="amount">NT$ 0</div>
        </div>
        <div class="pay-item">
          <div>
            <input type="checkbox" id="payer2">
            <label for="payer2">Kyrie</label>
          </div>
          <div class="amount">NT$</div>
        </div>
        <div class="pay-item">
          <div>
            <input type="checkbox" id="payer3">
            <label for="payer3">Ruby</label>
          </div>
          <div class="amount">NT$</div>
        </div>
        <div class="pay-item">
          <div>
            <input type="checkbox" id="payer4">
            <label for="payer4">阿周</label>
          </div>
          <div class="amount">NT$</div>
        </div>
        <div class="pay-item">
          <div>
            <input type="checkbox" id="payer5">
            <label for="payer5">周廷毅</label>
          </div>
          <div class="amount">NT$</div>
        </div>
        <div class="pay-item">
          <div>
            <input type="checkbox" id="payer6">
            <label for="payer6">Lucas</label>
          </div>
          <div class="amount">NT$</div>
        </div>
      </div>
      <div class="pay-buttons">
        <button class="cancel-button">取消</button>
        <button class="confirm-button">完成</button>
      </div>
    </section>
  </main>
</body>
</html>