.balance-main {
  padding: 20px;
  max-width: 700px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.balance-info {
  width: 700px;
  flex: 1;
}

.member-info {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.member-icon {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  object-fit: cover;
  background-color: white;
  margin-right: 10px;
}

.divider {
  border: 0;
  height: 1px;
  background: #ccc; 
  margin: 10px 0;  /* 控制分隔線的上下間距 */
}

.payment-container {
  border: 1px solid #f2d165;
  padding: 10px; 
  margin: 15px 0; 
  border-radius: 5px; 
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.payer-info, .receiver-info {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.payer-icon, .receiver-icon {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  object-fit: cover;
  background-color: white;
  margin-right: 10px;
}

.transfer-container {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}

.transfer-container img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.transfer-info {
  margin-top: 10px;
  margin-bottom: 15px;
}

.transfer-info span {
  font-size: small;
}

.action-buttons {
  display: flex;
  justify-content: space-around;
}

.back-button {
  width: 100%;
  padding: 10px 20px;
  background-color: #52bc8b;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin: 10px;
}

.back-button:hover {
  background-color: #1AA34A;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  z-index: 1001;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 300px;
  width: 90%;
}

.account-info {
  margin-top: 10px;
}

.account-details {
  margin-bottom: 10px;
  padding: 5px 0;
}

.no-data-message {
  text-align: center;
  color: #888;
  font-size: 16px;
  margin: 20px 0;
}

.view-account-btn {
  padding: 3px;
  background-color: #f2d165;
  border: none;
  border-radius: 5px;
  color: #666;
  cursor: pointer;
}

.balance-info-description {
  font-size: 14px;
  color: black;
  margin-top: 20px;
  margin-bottom: 20px;
}

.checkout-title {
  font-size: 18px;
  font-weight: 700;
  color: black;
  margin-top: 20px;
}

.checkout-subtitle {
  font-size: 14px;
  color: black;
  margin-bottom: 20px;
}

@media (max-width: 700px) and (min-width: 360px) {
  .balance-main {
    padding: 15px;
    width: 90%;
  }

  .balance-info {
    width: 100%;
  }

  .member-icon {
    height: 40px;
    width: 40px;
  }

  .payment-container {
    padding: 8px;
    margin: 10px 0;
  }

  .payer-icon, .receiver-icon {
    height: 40px;
    width: 40px;
  }

  .transfer-container {
    align-items: flex-start;
    margin: 10px 0;
  }

  .transfer-container img {
    width: 40px;
    height: 40px;
  }

  .transfer-info {
    margin-top: 5px;
    margin-bottom: 10px;
  }

  .transfer-info span {
    font-size: small;
  }

  .action-buttons {
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }

  .back-button {
    width: 100%;
  }
}