.balance-main {
  padding: 20px;
  max-width: 700px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.balance-info {
  width: 700px;
  flex: 1;
}

.member-info {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.member-icon {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  object-fit: cover;
  background-color: white;
  margin-right: 10px;
}

.divider {
  border: 0;
  height: 1px;
  background: #ccc; 
  margin: 10px 0;  /* 控制分隔線的上下間距 */
}

.payment-container {
  border: 2px solid #f2d165;
  padding: 10px; 
  margin: 15px 0; 
  border-radius: 5px; 
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.payer-info, .receiver-info {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.payer-icon, .receiver-icon {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  object-fit: cover;
  background-color: white;
  margin-right: 10px;
}

.transfer-container {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}

.transfer-container img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.transfer-info {
  margin-top: 10px;
  margin-bottom: 15px;
}

.transfer-info span {
  font-size: small;
}

.action-buttons {
  display: flex;
  justify-content: space-around;
}

.back-button {
  width: 100%;
  padding: 10px 20px;
  background-color: #52bc8b;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin: 10px;
}

.back-button:hover {
  background-color: #1AA34A;
}


@media (max-width: 700px) and (min-width: 360px) {
  .balance-main {
    padding: 15px;
    width: 90%;
  }

  .balance-info {
    width: 100%;
  }

  .member-icon {
    height: 40px;
    width: 40px;
  }

  .payment-container {
    padding: 8px;
    margin: 10px 0;
  }

  .payer-icon, .receiver-icon {
    height: 40px;
    width: 40px;
  }

  .transfer-container {
    align-items: flex-start;
    margin: 10px 0;
  }

  .transfer-container img {
    width: 40px;
    height: 40px;
  }

  .transfer-info {
    margin-top: 5px;
    margin-bottom: 10px;
  }

  .transfer-info span {
    font-size: small;
  }

  .action-buttons {
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }

  .back-button {
    width: 100%;
  }
}