.main-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px 30px;
  max-width: 700px;
  margin: 0 auto;
  flex: 1;
}

.top-section {
  flex: 1;
}

.create-group-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

/* 個人資料部分 */
.profile-section {
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 250px;
}

.profile-image {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
  margin-bottom: 20px;
}

#imageUpload {
  display: block;
  cursor: pointer;
}

/* 群組設置部分 */
.group-section {
  flex-grow: 1;
  padding: 20px;
}

.group-section label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

#group-name {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.group-members-title,
.currency-title {
  margin-bottom: 5px;
  font-weight: bold;
}

.currency-info {
  margin-top: 10px;
  font-size: 0.9em;
  color: #666;
}

.members {
  margin-bottom: 5px;
}

.member {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #eee;
}

.member-name {
  font-weight: bold;
}

.member-inputs {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 10px 0;
}

.member-inputs input {
  flex: 1;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.remove-btn {
  background: none;
  border: none;
  font-size: 20px;
  color: #f00;
  cursor: pointer;
}

.add-person {
  display: block;
  color: #007bff;
  text-decoration: none;
  margin-bottom: 20px;
}

.add-person:hover {
  text-decoration: underline;
}

select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
}

.button-container {
  max-width: 700px;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px 0;
  box-sizing: border-box;
}

.create-newgroup-button {
  width: 80%;
  padding: 10px 20px;
  background-color: #52bc8b; 
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin: 10px 20px 20px 5px;
}

.create-newgroup-button:hover {
  background-color: #1AA34A; 
}

.update-button {
  width: 80%;
  padding: 10px 20px;
  background-color: #52bc8b; 
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin: 10px 20px 20px 5px;
}

.update-button:hover {
  background-color: #1AA34A;
}

.cancel-button {
  width: 80%;
  padding: 10px 20px;
  background-color: #e0e0e0;
  border: none;
  border-radius: 5px;
  color: black;
  font-size: 16px;
  cursor: pointer;
  margin: 10px 5px 20px 20px;
}

.cancel-button:hover {
  background-color: #bdbdbd;
}

input[readonly] {
  background-color: #f0f0f0; 
  color: #666; 
}

.delete-button-container {
  max-width: 700px;
  width: 100%;
  display: flex;
  box-sizing: border-box;
}

.delete-button {
  width: auto;
  background-color: #e74c3c;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 14px;
  cursor: pointer;
  padding: 5px;
  margin-top: 30px;
}

.delete-button:hover {
  background-color: #c0392b;
}

.back-button {
  width: 100%;
  padding: 10px 20px;
  background-color: #52bc8b;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin: 10px 20px;
}

.back-button:hover {
  background-color: #1AA34A;
}


@media (max-width: 700px) and (min-width: 360px) {
  .main-content {
    padding: 15px; 
    max-width: 90%;
    align-items: stretch;
  }

  .profile-section {
    width: 90%; 
    display: flex;
    flex-direction: column;
  }

  .group-section {
    padding: 15px; 
    width: 90%;
  }

  .create-group-container {
    flex-direction: column; 
    align-items: center; 
  }

  .button-container, .delete-button-container {
    width: 100%;
    padding: 10px 0; 
    align-items: center; 
    display: flex;
  }

  .update-button,
  .cancel-button {
    width: 90%; 
    max-width: 300px;
    justify-content: center;
  }

  .delete-button {
    margin-top: 20px;
  }

  .members {
    width: 100%;
  }

  .member-inputs input {
    width: 100%; /* 讓輸入框在小屏幕下全寬 */
    margin-bottom: 10px; /* 增加底部間距 */
    padding: 8px; /* 縮小 padding */
  }

  .add-person {
    margin-bottom: 15px; /* 縮小下方間距 */
  }

  select {
    width: 100%;
    padding: 8px; /* 縮小 padding */
  }

  #group-name {
    padding: 8px; /* 縮小 padding */
  }

  .delete-button-container {
    display: flex;
    justify-content: flex-start;
  }

  .profile-image {
    height: auto; /* 自適應高度 */
  }
}