.main-content {
  width: 700px;
  margin: 0 auto;
  flex: 1;
}

.activity {
  background-color: #f9f9f9;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.image-section {
  position: relative;
  width: 100%;
  height: 450px;
  overflow: hidden;
}

.activity-image {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.chat-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 8px 8px 6px 8px;
  border: none;
  border-radius: 50%;
  background-color: #52bc8b;
  cursor: pointer;
}

.edit-btn {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: #52bc8b;
  color: white;
  cursor: pointer;
}

.check-btn {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: #52bc8b;
  color: white;
  cursor: pointer;
}

.settlement-btn {
  position: absolute;
  bottom: 10px;
  left: 10px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: #52bc8b;
  color: white;
  cursor: pointer;
}

.edit-btn:hover, .settlement-btn:hover, .check-btn:hover, .chat-btn:hover {
  background-color: #1AA34A;
}

.activity-details {
  padding: 20px;
  flex: 1;
}

.activity-details h2 {
  margin: 0 0 15px 0;
  font-size: 20px;
  color: #333;
}

.activity-item {
  margin-bottom: 10px;
}

.activity-description {
  display: flex;
  align-items: center;
}

.activity-icon {
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.activity-icon img {
  width: 20px;
  height: 20px;
}

.activity-cost {
  margin-left: auto;
  color: #e74c3c; 
}

.transfer-income {
  margin-left: auto;
  color: #52bc8b; 
}

.activity-payment {
  color: #888;
  font-size: small;
}

.add-button-container {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.add-button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  background-color: #52bc8b;; 
  color: white;
  font-size: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
  cursor: pointer;
  outline: none;
  font-size: 48px;
}

.add-button:hover {
  background-color: #1AA34A; 
}

.add-button:focus {
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

a:hover {
  font-weight: bold;
  font-size: 1.1em;
}

a:hover img {
  transform: scale(1.2); 
}


@media (max-width: 700px) {
  .main-content {
    width: 100%;
    margin: 0;
  }

  .activity {
    box-shadow: none;
  }

  .activity-details {
    padding: 10px;
  }

  .activity-details h2 {
    font-size: 16px; /* 調整標題字體大小 */
    margin-bottom: 15px;
  }

  .activity-item {
    margin-bottom: 8px;
  }

  .activity-icon img {
    width: 16px; /* 縮小圖標 */
    height: 16px;
  }

  .activity-cost,
  .transfer-income {
    font-size: 14px; /* 調整成本和收入字體大小 */
  }

  .chat-btn {
    padding: 5px 6px;
  }
  .edit-btn,
  .check-btn,
  .settlement-btn {
    padding: 4px 8px; /* 調整按鈕內邊距 */
    font-size: 12px; /* 調整按鈕字體大小 */
  }

  .add-button {
    position: fixed;
    bottom: 10px; /* 與底部保持固定距離 */
    left: 50%;
    transform: translateX(-50%); /* 確保在寬度變化時保持居中 */
    z-index: 1; 
    width: 50px; /* 縮小新增按鈕 */
    height: 50px;
    font-size: 24px; /* 調整按鈕字體大小 */
  }

  a:hover {
    font-size: 1em; /* 調整連結的字體大小 */
  }
}