body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #E8EAEA;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  max-width: 1200px;
}

.text-container {
  width: 50%;
  text-align: left;
  padding-left: 150px;
}

.text-container h2 {
  font-size: 28px;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 20px;
}

h1 {
  display: flex;
  align-items: center;
  font-size: 36px;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 20px;
}

h1 img {
  width: 28px;
  height: 28px;
}

.highlight {
  color: #52bc8b;
}

.subtitle {
  font-size: 16px;
  color: #666;
  margin-bottom: 20px;
}

.signup-button {
  background-color: #52bc8b;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  margin-bottom: 20px;
}

.signup-button:hover {
  background-color: #27ae60;
}

.image-container {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container img {
  width: 70%;
  height: auto;
  padding-right: 150px;
}

.login-container {
  background-color: #181818;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  max-width: 280px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.toggle {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.toggle-button {
  background: none;
  border: none;
  color: #B3B3B3;
  font-size: 16px;
  cursor: pointer;
  margin: 0 10px;
  padding-bottom: 5px;
  position: relative;
}

.toggle-button.active {
  color: white;
}

.toggle-button:hover::after,
.toggle-button.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #1DB954;
}

.toggle-button:hover {
  color: #1DB954;
}

.login-container input[type="text"], .login-container input[type="password"], .login-container input[type="email"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
}

.login-container button[type="submit"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background-color: #1DB954;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.login-container button[type="submit"]:hover {
  background-color: #1AA34A;
}

.login-container a {
  color: #B3B3B3;
  text-decoration: none;
  font-size: 14px;
}

.login-container a:hover {
  text-decoration: underline;
}

.sign-in-font,
.sign-up-font {
  font-size: 14px;
  color: red;
}

.hide {
  display: none;
}


@media (max-width: 1300px) {
  .text-container {
    padding-left: 0px;
  }
  .image-container img {
    padding-right: 0px;
  }
}

@media (max-width: 1000px) {
  .container {
    flex-direction: column;
    width: 90%;
    padding: 20px;
  }

  .text-container,
  .image-container {
    width: 100%;
    padding: 0;
    text-align: center; 
  }

  h1 {
    justify-content: center;
  }

  .text-container {
    padding-left: 0; 
  }

  .text-container h1 {
    font-size: 28px; 
  }

  .signup-button {
    font-size: 16px;
  }

  .image-container img {
    width: 80%; 
    padding-right: 0;
  }

  .login-container {
    position: fixed;
    width: 90%;
    max-width: 280px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media (max-width: 480px) {
  .text-container h2 {
    font-size: 24px; 
  }

  .signup-button {
    font-size: 14px;
    padding: 8px 16px;
  }

  .image-container img {
    width: 90%;
  }

  .login-container {
    width: 95%; 
    max-width: 280px;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 1;
}