.main-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px 30px;
  max-width: 700px;
  margin: 0 auto;
  flex: 1;
}

.profile-container {
  padding-top: 20px;
  border-radius: 8px;
  width: 700px;
  text-align: center;
}

.profile-picture {
  position: relative;
  display: inline-block;
}

.profile-picture-img {
  width: 400px;
  height: 400px;
  border-radius: 8px;
  object-fit: cover;
  background-color: white;
}

.edit-button {
  position: absolute;
  top: 8px;  /* 根據需要調整位置 */
  right: 8px; /* 根據需要調整位置 */
  cursor: pointer;
  width: 16px;
  height: 16px;
}

.edit-icon {
  width: 16px;
  height: 16px;
}

.edit-button:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  text-align: left;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input[type="text"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.save-button {
  width: 100%;
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #52bc8b;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.save-button:hover {
  background-color: #1AA34A;
}


@media (max-width: 700px) and (min-width: 360px) {
  .main-content {
    padding: 15px;
    max-width: 100%;
    align-items: stretch;
  }

  .profile-container {
    width: 100%;
    padding-top: 15px;
  }

  .profile-picture-img {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin-bottom: 10px;
  }

  .edit-button {
    top: 5px;
    right: 5px;
    width: 20px;
    height: 20px;
  }

  .edit-icon {
    width: 20px;
    height: 20px;
  }

  .form-group input[type="text"] {
    padding: 8px;
    font-size: 14px;
  }

  .save-button {
    width: 100%;
    max-width: 300px;
    margin: 15px 0;
  }
}