.expense-main {
  padding: 20px;
  max-width: 700px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.expense-info {
  width: 700px;
  flex: 1;
}

.expense-date {
  display: flex;
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
  justify-content:flex-start;
}

.expense-item {
  display: flex;
  justify-content: space-between;
  font-size: 1.2em;
}

.item-name {
  font-weight: bold;
}

.item-amount {
  color: #e74c3c;
}

.exchange-rate {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 15px;
}

.exchange-rate span {
  font-size: small;
}

.payer-info, .debtor-info {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.payer-icon, .debtor-icon {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  object-fit: cover;
  background-color: white;
  margin-right: 10px;
}

.divider {
  border: 0;
  height: 1px;
  background: #ccc; /* 可以根據需要更改顏色 */
  margin: 10px 0;  /* 控制分隔線的上下間距 */
}

.expense-note {
  display: flex;
  font-size: 0.9em;
  text-align: center;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.creation-info {
  display: flex;
  font-size: 0.9em;
  color: #7f8c8d;
  text-align: center;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.action-buttons {
  display: flex;
  justify-content: space-around;
}

.delete-button {
  width: 80%;
  padding: 10px 20px;
  background-color: #e74c3c;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin: 10px 0px 20px 10px;
}

.edit-button {
  width: 80%;
  padding: 10px 20px;
  background-color: #52bc8b;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin: 10px 0px 20px 10px;
}

.cancel-button {
  width: 80%;
  padding: 10px 20px;
  background-color: #e0e0e0;
  border: none;
  border-radius: 5px;
  color: black;
  font-size: 16px;
  cursor: pointer;
  margin: 10px 10px 20px 0px;
}

.cancel-button:hover {
  background-color: #bdbdbd;
}

.edit-button:hover {
  background-color: #1AA34A;
}

.delete-button:hover {
  background-color: #c0392b;
}

.expense-image img{
  width: auto;
  max-height: 500px;
  margin-bottom: 20px;
}

.transfer-container {
  display: flex;
  margin-top: 40px;
  margin-bottom: 40px;
}

.transfer-container img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.transfer-info {
  margin-bottom: 15px;
}

.transfer-info span {
  font-size: small;
}